from plugins.PolicyCheck import PolicyCheck
from policies.FileBlacklist import FileBlacklist
from policies.NoEmptyCommitMessage import NoEmptyCommitMessage

DEBUG = False
DEBUG_PRE_RECEIVE = False
DEBUG_UPDATE = False
DEBUG_POST_RECEIVE = False

LOG_FORMAT = '$BLUE$[HOOKS] $RESET$%(message)s'
POLICY_LOG_FORMAT = '$BLUE$[$CYAN$POLICY$BLUE$:$CYAN${0}$BLUE$] $RESET$%(message)s'

PLUGINS = [
    PolicyCheck([
        FileBlacklist(['.*\.zargo']),
        NoEmptyCommitMessage()
    ]),
    # Triggers job AwesomeProject_FeatureBranches each time someone pushes to a branch matching 'feature.*' and passes the ref name (= branch name) to the triggered jenkins job
    JenkinsBuildTrigger('http://10.0.1.23:8080', 'AwesomeProject_FeatureBranches', 'refs/heads/feature.*', {'CHECKOUT_BRANCH': "$REF_NAME"})
]
